.experience-page {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: auto;

  width: var(--content-width);
  max-width: var(--max-content-width);

  .back-arrow {
    transition: transform ease-in 0.3s;
    &:hover {
      transform: translateX(-2px);
    }
  }

  .title {
    .company {
      font-size: 1.2rem;
    }
  }

  .cards {
    display: flex;
    gap: 1rem;

    .block-1,
    .location,
    .name,
    .dates {
      padding: 1rem;
      border-radius: var(--radius-m);
    }

    .block-1 {
      border: solid 2px var(--blue);
    }

    .block-2 {
      display: flex;
      gap: 0.8rem;
      flex-wrap: wrap;

      .location {
        border: solid 2px var(--green);
        flex: 0 0 48%;
      }
      .name {
        border: solid 2px var(--grey);
        flex: 0 0 48%;
      }
      .dates {
        flex: 0 0 100%;
        border: solid 2px var(--red);
      }
    }
  }
}
