.search-filters {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  flex-wrap: wrap;

  select {
    font-size: var(--font-size-p);
    border: 2px solid transparent;

    cursor: pointer;
  }

  &__reset {
    padding: 0.5rem;
    border: 2px solid var(--green);
    border-radius: var(--radius-s);

    background-color: var(--dark-grey);
    color: var(--green);

    font-family: "Montserrat", sans-serif;
    font-size: var(--font-size-p);
    font-weight: 500;

    cursor: pointer;
    transition: color ease 0.3s, background-color ease 0.3s;

    &:hover {
      background-color: var(--green);
      color: white;
    }
  }
}
