.form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
  width: 100%;

  &__field {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    gap: 0.5rem;

    label {
      font-weight: 500;
    }

    &--checkbox {
      flex-wrap: nowrap;

      input {
        width: fit-content;
        flex: 0 1 auto !important;
      }
    }

    textarea {
      flex: 0 0 100%;
    }

    &__error {
      font-size: 0.9rem;
      font-style: italic;
      color: var(--red);
    }

    &__checkbox {
      display: flex;
      align-items: center;
    }

    input {
      flex: 0 0 100%;
    }
  }

  &__error {
    font-size: 1rem;
    font-style: italic;
    color: var(--red);
  }
}

button[type="submit"] {
  margin-top: 1rem;
}

.date-picker {
  flex: 0 0 100%;
}

textarea {
  padding: 1rem;
  border-radius: var(--radius-s);
  border: none;
  resize: vertical;
  height: 8rem;

  background-color: var(--dark-grey);
  color: var(--outline);

  font-size: var(--font-size-p);

  transition: box-shadow ease 0.5s;

  &:focus {
    box-shadow: 1px 0 25px rgba(var(--blue-values), 0.5);
  }

  &:focus-visible {
    outline: 2px solid var(--blue);
  }
}
