nav {
  display: flex;
  gap: 2rem;
  justify-content: space-between;
  align-items: center;

  padding: 1rem 2rem;

  .logo {
    display: flex;
    align-items: center;
    gap: 1rem;

    font-size: 1.3rem;
    font-weight: 700;

    &-text {
      display: none;
    }
  }
}

@media only screen and (min-width: 768px) {
  nav .logo-text {
    display: inline;
  }
}
