@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,400&display=swap");

/* VARS 
mobile first
*/

:root {
  /* COLORS */
  --outline: #faf9f6;
  --background: #262a2b;
  --dark-grey: #181a1bb9;
  --grey: #848484;
  --light-grey: #d9d9d9;
  --green: #4e9e24;
  --blue: #25bef4;
  --red: #f73c3c;

  --blue-values: 37, 190, 244;
  --red-values: 247, 60, 60;
  --grey-values: 132, 132, 132;

  /* CONTENT DISPLAY */
  --radius-s: 0.3rem;
  --radius-m: 0.75rem;
  --radius-m-hover: 1rem;
  --content-width: 85vw;

  --font-size-h1: 2rem;
  --font-size-h3: 1.2rem;
  --font-size-p: 1rem;
}

/* @media (prefers-color-scheme: light) {
  :root {
    --background: white;
    --outline: #333;
  }
} */

@media screen and (min-width: 768px) {
  :root {
    --content-width: 65vw;
    --max-content-width: 38.4rem;
  }
}

/* RESET */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  background-color: var(--background);
  color: var(--outline);
  font-family: "Montserrat", sans-serif;
  height: 100vh;
  min-height: 100vh;
}

main {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 0 2rem;
}

a {
  color: inherit;
  text-decoration: none;
}

input {
  border: none;
}

/* GLOBAL STYLE */

body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: 100vh;
}

a {
  color: var(--outline) !important;
}

.btn {
  padding: 1rem;
  border-radius: var(--radius-m);

  font-size: 1rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;

  cursor: pointer;

  transition: border-radius ease 0.3s, background-color ease 0.3s,
    color ease 0.3s, box-shadow 0.3s ease;

  &--primary {
    background-color: var(--blue);
    border: 2px solid var(--blue);

    color: var(--outline);

    &--warning {
      background-color: var(--red);
      border: 2px solid var(--red);

      &:hover {
        box-shadow: 1px 0 25px rgba(var(--red-values), 0.5) !important;
      }
    }

    &:hover {
      box-shadow: 1px 0 25px rgba(var(--blue-values), 0.5);
    }
  }

  &--secondary {
    background-color: var(--outline);
    color: var(--grey);
    border: none;

    &:hover {
      box-shadow: 1px 0 25px rgba(255, 255, 255, 0.5);
    }
  }

  &:hover {
    border-radius: var(--radius-m-hover);
  }
}

.link {
  transition: opacity 0.3s ease;
  &:hover {
    opacity: 0.5;
  }
}

// inputs

input {
  width: 100%;
  height: 1.8rem;
  padding: 1rem;

  border-radius: var(--radius-s);

  background-color: var(--dark-grey);
  color: var(--outline);

  transition: box-shadow ease 0.5s;

  font-family: "Montserrat", sans-serif;
  font-weight: 300;

  &:focus {
    box-shadow: 1px 0 25px rgba(var(--blue-values), 0.5);
  }

  &:focus-visible {
    outline: 2px solid var(--blue);
  }

  &:disabled {
    opacity: 0.25;
  }
}

input[type="checkbox"] {
  height: 1.2rem;
  width: fit-content;
  box-shadow: none;

  border: none;
}

select {
  padding: 0.5rem 1rem;
  border-radius: var(--radius-s);

  background-color: var(--green);
  color: var(--outline);

  font-family: "Montserrat", sans-serif;
  font-weight: 500;

  outline: none;
  border: none;

  flex: 0 0 100%;
}
